---
layout: default
---

<div>
  <div>{% include career-profile.liquid %}</div>
  <div>
    {% unless site.data.data.sidebar.education %} {% include education.liquid %}
    {% endunless %}
  </div>
  <div>{% include skills.liquid %}</div>
  <div>{%include experiences.liquid %}</div>
  <div>
    {% if false %} {% include projects.liquid %} {% include publications.liquid
    %} {% endif %}
  </div>
  <div>
    {% if site.data.data.showExamples %} {% include examples.liquid %} {% endif
    %}
  </div>
</div>
